.title {
  font-family: "karla", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.48px;
  color: var(--color-title);
}

.paragraph {
  font-family: "karla", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.32px;
  color: var(--color-paragraph);
}

.container-cards-main-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding: 30px 0;
}

.container-pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  padding-bottom: 20px;
}

.button-pagination {
  width: 160px;
  height: 39px;
  border: 1px solid var(--color-blue);
  font-size: 16px;
  font-family: var(--font-family);
  border-radius: 10px;
  color: var(--color-blue);
}

.button-pagination:hover {
  opacity: 50%;
}

@media screen and (max-width: 1024px) {
  .container-pagination {
    justify-content: center;
  }
  .button-pagination {
    width: 120px;
  }
}
