.container-modal {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.modal-box {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  column-gap: 30px;
}

.close-button {
  margin-top: 20px;
}

.container-information-modal {
  padding: 20px;
}

.main-image-modal {
  width: 100%;
  object-fit: cover;
}

.title-modal {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--color-title);
  letter-spacing: 0.4px;
  line-height: 1;
}

.id-modal {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-paragraph);
  letter-spacing: 0.28px;
  line-height: 1.6;
}

.text-modal {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-paragraph);
  letter-spacing: 0.28px;
  line-height: 1.6;
  padding: 16px 0;
}

.container-labels-modal {
  width: 100%;
  display: flex;
  column-gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.subtitle-modal {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--color-text);
  letter-spacing: 0.28px;
  line-height: 1.6;
  margin: 30px 0 0;
}

.container-label-modal {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-blue);
  border-radius: 22px;
  padding: 4px 10px;
  font-size: 10px;
  color: var(--color-blue);
  line-height: 1.6;
  font-family: var(--font-family);
  letter-spacing: 0.2px;
}

.close-button {
  top: -32.5rem;
  right: 100rem;
  border: 1px solid var(--color-white);
  background-color: rgba(255, 255, 255, 0.743);
  z-index: 1;
}

@media screen and (max-width: 641px) {
  .modal-box {
    flex-direction: column;
    max-height: 700px;
    overflow-y: auto;
  }

  .container-information-modal {
    padding: 10px;
  }

  .main-image-modal {
    width: 400px;
    height: 200px;
    object-fit: cover;
  }

  .text-modal,
  .subtitle-modal {
    padding: 0 10px 10px;
  }

  .title-modal,
  .id-modal {
    padding: 0 10px 0;
  }
  .subtitle-modal {
    margin: 0;
  }

  .id-modal {
    margin-bottom: 20px;
  }
  .container-labels-modal {
    margin-bottom: 30px;
    margin-top: unset;
  }
}
